{% extends 'catalog/home.html' %}

{% load my_tags %}
{% block content %}

<div class="container">
    <div class="row text-center">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal">{{ object.title }}</h3>
                </div>
                <div class="card-body">
                    <img src="{{ object.photo | media_filter }}" style="max-height: 200px; width: 100%; object-fit: cover;">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ object.content_blog }}</li>

                        <li>Дата выпуска: {{ object.date_publication }}</li>
                        <li>Статус {{ object.bool_blog }}</li>

                    </ul>
                    <a role="button" href="{% url 'blog:blog_update' object.pk %}" class="btn btn-primary">Редактировать</a>
                    <a role="button" href="{% url 'blog:blog_list' %}" class="btn btn-primary">Назад</a>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}