<footer class="pt-4 my-md-5 pt-md-5 border-top bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <h4 class="mb-2">SkyStore</h4>
                <small class="d-block mb-3 text-muted">&copy; {% now "Y" %}</small>
                <div class="mt-3">
                    <a href="#" class="text-muted me-3"><i class="fab fa-telegram"></i></a>
                    <a href="#" class="text-muted me-3"><i class="fab fa-vk"></i></a>
                    <a href="#" class="text-muted"><i class="fab fa-github"></i></a>
                </div>
            </div>
            <div class="col-6 col-md">
                <h5>Категории</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted text-decoration-none" href="#">Рассылки</a></li>
                    <li><a class="text-muted text-decoration-none" href="#">Телеграм боты</a></li>
                    <li><a class="text-muted text-decoration-none" href="#">Полезные утилиты</a></li>
                    <li><a class="text-muted text-decoration-none" href="#">Веб-приложения</a></li>
                    <li><a class="text-muted text-decoration-none" href="#">Микросервисы</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Дополнительно</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted text-decoration-none" href="#">Мы пишем</a></li>
                    <li><a class="text-muted text-decoration-none" href="#">FAQ</a></li>
                    <li><a class="text-muted text-decoration-none" href="#">Помощь</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>О нас</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted text-decoration-none" href="/contacts/">Контакты</a></li>
                    <li><a class="text-muted text-decoration-none" href="#">О компании</a></li>
                    <li><a class="text-muted text-decoration-none" href="#">Вакансии</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-4 pt-3 border-top">
            <div class="col-12 text-center">
                <small class="text-muted">
                    Все права защищены. Любое копирование материалов запрещено.
                </small>
            </div>
        </div>
    </div>
</footer>